# 数据库配置
DB_HOST=keling-mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=131415
DB_NAME=kbk

# 时区配置
TIMEZONE=Asia/Shanghai

# 备份保留天数
RETENTION_DAYS=14

# 定时任务配置
MYSQL_CRON_SCHEDULE=30 2 * * *
MEDIA_CRON_SCHEDULE=30 3 * * *

# restic 配置
RESTIC_REPOSITORY=/data/repo
RESTIC_PASSWORD=change-me
RESTIC_BACKUP_ARGS=--verbose
RESTIC_FORGET_ARGS=--prune --keep-daily 14 --keep-monthly 12 --keep-within-monthly 1m
